In [1]:
import pandas as pd

*Loading the Training Text data*

In [2]:
train_data = pd.read_csv('cnn_dailymail/train.csv')

In [3]:
train_data.head()

,id,article,highlights
0,0001d1afc246a7964130f43ae940af6bc6c57f01,By . Associated Press . PUBLISHED: . 14:11 EST...,"Bishop John Folda, of North Dakota, is taking ..."
1,0002095e55fcbd3a2f366d9bf92a95433dc305ef,(CNN) -- Ralph Mata was an internal affairs li...,Criminal complaint: Cop used his role to help ...
2,00027e965c8264c35cc1bc55556db388da82b07f,A drunk driver who killed a young woman in a h...,"Craig Eccleston-Todd, 27, had drunk at least t..."
3,0002c17436637c4fe1837c935c04de47adb18e9a,(CNN) -- With a breezy sweep of his pen Presid...,Nina dos Santos says Europe must be ready to a...
4,0003ad6ef0c37534f80b55b4235108024b407f0b,Fleetwood are the only team still to have a 10...,Fleetwood top of League One after 2-0 win at S...

*Loading the Test data*

In [4]:
test_data = pd.read_csv('cnn_dailymail/test.csv')

In [5]:
test_data.head()

,id,article,highlights
0,92c514c913c0bdfe25341af9fd72b29db544099b,Ever noticed how plane seats appear to be gett...,Experts question if packed out planes are put...
1,2003841c7dc0e7c5b1a248f9cd536d727f27a45a,A drunk teenage boy had to be rescued by secur...,Drunk teenage boy climbed into lion enclosure ...
2,91b7d2311527f5c2b63a65ca98d21d9c92485149,Dougie Freedman is on the verge of agreeing a ...,Nottingham Forest are close to extending Dougi...
3,caabf9cbdf96eb1410295a673e953d304391bfbb,Liverpool target Neto is also wanted by PSG an...,Fiorentina goalkeeper Neto has been linked wit...
4,3da746a7d9afcaa659088c8366ef6347fe6b53ea,Bruce Jenner will break his silence in a two-h...,"Tell-all interview with the reality TV star, 6..."

*Loading the Validation data*

In [6]:
validation_data = pd.read_csv('cnn_dailymail/validation.csv')

In [7]:
validation_data.head()

,id,article,highlights
0,61df4979ac5fcc2b71be46ed6fe5a46ce7f071c3,"Sally Forrest, an actress-dancer who graced th...","Sally Forrest, an actress-dancer who graced th..."
1,21c0bd69b7e7df285c3d1b1cf56d4da925980a68,A middle-school teacher in China has inked hun...,Works include pictures of Presidential Palace ...
2,56f340189cd128194b2e7cb8c26bb900e3a848b4,A man convicted of killing the father and sist...,"Iftekhar Murtaza, 29, was convicted a year ago..."
3,00a665151b89a53e5a08a389df8334f4106494c2,Avid rugby fan Prince Harry could barely watch...,Prince Harry in attendance for England's crunc...
4,9f6fbd3c497c4d28879bebebea220884f03eb41a,A Triple M Radio producer has been inundated w...,Nick Slater's colleagues uploaded a picture to...

*Dropping the unwanted column [id] from the train, test, validation datasets*

In [8]:
train_df = train_data.drop(columns='id')
test_df = test_data.drop(columns='id')
valid_df = validation_data.drop(columns='id')

In [9]:
train_df.head()

,article,highlights
0,By . Associated Press . PUBLISHED: . 14:11 EST...,"Bishop John Folda, of North Dakota, is taking ..."
1,(CNN) -- Ralph Mata was an internal affairs li...,Criminal complaint: Cop used his role to help ...
2,A drunk driver who killed a young woman in a h...,"Craig Eccleston-Todd, 27, had drunk at least t..."
3,(CNN) -- With a breezy sweep of his pen Presid...,Nina dos Santos says Europe must be ready to a...
4,Fleetwood are the only team still to have a 10...,Fleetwood top of League One after 2-0 win at S...

In [10]:
test_df.head()

,article,highlights
0,Ever noticed how plane seats appear to be gett...,Experts question if packed out planes are put...
1,A drunk teenage boy had to be rescued by secur...,Drunk teenage boy climbed into lion enclosure ...
2,Dougie Freedman is on the verge of agreeing a ...,Nottingham Forest are close to extending Dougi...
3,Liverpool target Neto is also wanted by PSG an...,Fiorentina goalkeeper Neto has been linked wit...
4,Bruce Jenner will break his silence in a two-h...,"Tell-all interview with the reality TV star, 6..."

In [11]:
valid_df.head()

,article,highlights
0,"Sally Forrest, an actress-dancer who graced th...","Sally Forrest, an actress-dancer who graced th..."
1,A middle-school teacher in China has inked hun...,Works include pictures of Presidential Palace ...
2,A man convicted of killing the father and sist...,"Iftekhar Murtaza, 29, was convicted a year ago..."
3,Avid rugby fan Prince Harry could barely watch...,Prince Harry in attendance for England's crunc...
4,A Triple M Radio producer has been inundated w...,Nick Slater's colleagues uploaded a picture to...

In [12]:
print('Train Data ------->',len(train_df))
print('Test Data -------->',len(test_df))
print('Validation Data -->',len(valid_df))

Train Data -------> 287113
Test Data --------> 11490
Validation Data --> 13368

In [13]:
print('Train Data ------->',train_df.columns)
print('Test Data -------->',test_df.columns)
print('Validation Data -->',valid_df.columns)

Train Data -------> Index(['article', 'highlights'], dtype='object')
Test Data --------> Index(['article', 'highlights'], dtype='object')
Validation Data --> Index(['article', 'highlights'], dtype='object')

In [14]:
datasets = [train_df, test_df, valid_df]
dataset_names = ['Train Data', 'Test Data', 'Validation Data']
for i,dataset in enumerate(datasets):
    print(f'{dataset_names[i]} missing values:')
    print(dataset.isnull().sum())
    print('-------------------------')

Train Data missing values:
article       0
highlights    0
dtype: int64
-------------------------
Test Data missing values:
article       0
highlights    0
dtype: int64
-------------------------
Validation Data missing values:
article       0
highlights    0
dtype: int64
-------------------------

In [15]:
datasets = [train_df, test_df, valid_df]
for dataset in datasets:
    print(dataset.info())
    print('===================================================')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287113 entries, 0 to 287112
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   article     287113 non-null  object
 1   highlights  287113 non-null  object
dtypes: object(2)
memory usage: 4.4+ MB
None
===================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11490 entries, 0 to 11489
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   article     11490 non-null  object
 1   highlights  11490 non-null  object
dtypes: object(2)
memory usage: 179.7+ KB
None
===================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13368 entries, 0 to 13367
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   article     13368 non-null  object
 1   highlights  13368 non-null  object
dtypes: object(2)
memory usage: 209.0+ KB
None
===================================================

In [16]:
print('ARTICLE:\n', train_df['article'][0])
print('=====================================================================================================================================================')
print('Summary:\n', train_df['highlights'][0])

ARTICLE:
 By . Associated Press . PUBLISHED: . 14:11 EST, 25 October 2013 . | . UPDATED: . 15:36 EST, 25 October 2013 . The bishop of the Fargo Catholic Diocese in North Dakota has exposed potentially hundreds of church members in Fargo, Grand Forks and Jamestown to the hepatitis A virus in late September and early October. The state Health Department has issued an advisory of exposure for anyone who attended five churches and took communion. Bishop John Folda (pictured) of the Fargo Catholic Diocese in North Dakota has exposed potentially hundreds of church members in Fargo, Grand Forks and Jamestown to the hepatitis A . State Immunization Program Manager Molly Howell says the risk is low, but officials feel it's important to alert people to the possible exposure. The diocese announced on Monday that Bishop John Folda is taking time off after being diagnosed with hepatitis A. The diocese says he contracted the infection through contaminated food while attending a conference for newly ordained bishops in Italy last month. Symptoms of hepatitis A include fever, tiredness, loss of appetite, nausea and abdominal discomfort. Fargo Catholic Diocese in North Dakota (pictured) is where the bishop is located .
=====================================================================================================================================================
Summary:
 Bishop John Folda, of North Dakota, is taking time off after being diagnosed .
He contracted the infection through contaminated food in Italy .
Church members in Fargo, Grand Forks and Jamestown could have been exposed .

In [17]:
train_df.head()

,article,highlights
0,By . Associated Press . PUBLISHED: . 14:11 EST...,"Bishop John Folda, of North Dakota, is taking ..."
1,(CNN) -- Ralph Mata was an internal affairs li...,Criminal complaint: Cop used his role to help ...
2,A drunk driver who killed a young woman in a h...,"Craig Eccleston-Todd, 27, had drunk at least t..."
3,(CNN) -- With a breezy sweep of his pen Presid...,Nina dos Santos says Europe must be ready to a...
4,Fleetwood are the only team still to have a 10...,Fleetwood top of League One after 2-0 win at S...

Pre-processing

*Converting the Train Dataset into the lowercase data*

In [18]:
train_df['article'] = train_df['article'].apply(lambda x:x.lower())
train_df['highlights'] = train_df['highlights'].apply(lambda x:x.lower())

In [19]:
train_df.head()

,article,highlights
0,by . associated press . published: . 14:11 est...,"bishop john folda, of north dakota, is taking ..."
1,(cnn) -- ralph mata was an internal affairs li...,criminal complaint: cop used his role to help ...
2,a drunk driver who killed a young woman in a h...,"craig eccleston-todd, 27, had drunk at least t..."
3,(cnn) -- with a breezy sweep of his pen presid...,nina dos santos says europe must be ready to a...
4,fleetwood are the only team still to have a 10...,fleetwood top of league one after 2-0 win at s...

Handling Contractions

In [24]:
import contractions

In [26]:
train_df['article'] = train_df['article'].apply(contractions.fix)

In [27]:
train_df['highlights'] = train_df['highlights'].apply(contractions.fix)

In [28]:
train_df.head()

,article,highlights
0,by . associated press . published: . 14:11 est...,"bishop john folda, of north dakota, is taking ..."
1,(cnn) -- ralph mata was an internal affairs li...,criminal complaint: cop used his role to help ...
2,a drunk driver who killed a young woman in a h...,"craig eccleston-todd, 27, had drunk at least t..."
3,(cnn) -- with a breezy sweep of his pen presid...,nina dos santos says europe must be ready to a...
4,fleetwood are the only team still to have a 10...,fleetwood top of league one after 2-0 win at s...

Removing Special Characters, Numbers and Punctuations

In [29]:
import re

# Function to clean text
def clean_text(text):
    # Remove numbers
    text = re.sub(r'\d+', '', text)
    # Remove special characters and punctuation
    text = re.sub(r'[^\w\s]', '', text)
    # Remove extra spaces
    text = re.sub(r'\s+', ' ', text).strip()
    return text

train_df['article'] = train_df['article'].apply(clean_text)
train_df['highlights'] = train_df['highlights'].apply(clean_text)

Cleaned Training Data Head:
                                             article  \
0  by associated press published est october upda...
1  cnn ralph mata was an internal affairs lieuten...
2  a drunk driver who killed a young woman in a h...
3  cnn with a breezy sweep of his pen president v...
4  fleetwood are the only team still to have a re...

                                          highlights
0  bishop john folda of north dakota is taking ti...
1  criminal complaint cop used his role to help c...
2  craig ecclestontodd had drunk at least three p...
3  nina dos santos says europe must be ready to a...
4  fleetwood top of league one after win at scunt...

In [30]:
train_df.head()

,article,highlights
0,by associated press published est october upda...,bishop john folda of north dakota is taking ti...
1,cnn ralph mata was an internal affairs lieuten...,criminal complaint cop used his role to help c...
2,a drunk driver who killed a young woman in a h...,craig ecclestontodd had drunk at least three p...
3,cnn with a breezy sweep of his pen president v...,nina dos santos says europe must be ready to a...
4,fleetwood are the only team still to have a re...,fleetwood top of league one after win at scunt...

Tokenization

In [32]:
pip install nltk

Collecting nltkNote: you may need to restart the kernel to use updated packages.

  Downloading nltk-3.8.1-py3-none-any.whl.metadata (2.8 kB)
Requirement already satisfied: click in c:\users\sivaa\appdata\local\programs\python\python310\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\sivaa\appdata\local\programs\python\python310\lib\site-packages (from nltk) (1.3.2)
Collecting regex>=2021.8.3 (from nltk)
  Downloading regex-2024.5.15-cp310-cp310-win_amd64.whl.metadata (41 kB)
     ---------------------------------------- 0.0/42.0 kB ? eta -:--:--
     ------------------ ------------------- 20.5/42.0 kB 640.0 kB/s eta 0:00:01
     -------------------------------------  41.0/42.0 kB 393.8 kB/s eta 0:00:01
     -------------------------------------  41.0/42.0 kB 393.8 kB/s eta 0:00:01
     -------------------------------------- 42.0/42.0 kB 253.9 kB/s eta 0:00:00
Requirement already satisfied: tqdm in c:\users\sivaa\appdata\local\programs\python\python310\lib\site-packages (from nltk) (4.66.2)
Requirement already satisfied: colorama in c:\users\sivaa\appdata\local\programs\python\python310\lib\site-packages (from click->nltk) (0.4.6)
Downloading nltk-3.8.1-py3-none-any.whl (1.5 MB)
   ---------------------------------------- 0.0/1.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.5 MB ? eta -:--:--
    --------------------------------------- 0.0/1.5 MB 217.9 kB/s eta 0:00:07
   - -------------------------------------- 0.1/1.5 MB 328.2 kB/s eta 0:00:05
   -- ------------------------------------- 0.1/1.5 MB 467.6 kB/s eta 0:00:03
   --- ------------------------------------ 0.1/1.5 MB 500.5 kB/s eta 0:00:03
   ---- ----------------------------------- 0.2/1.5 MB 482.7 kB/s eta 0:00:03
   ----- ---------------------------------- 0.2/1.5 MB 541.9 kB/s eta 0:00:03
   ------ --------------------------------- 0.3/1.5 MB 605.3 kB/s eta 0:00:03
   ------ --------------------------------- 0.3/1.5 MB 605.3 kB/s eta 0:00:03
   -------- ------------------------------- 0.3/1.5 MB 677.0 kB/s eta 0:00:02
   --------- ------------------------------ 0.4/1.5 MB 655.7 kB/s eta 0:00:02
   ---------- ----------------------------- 0.4/1.5 MB 655.1 kB/s eta 0:00:02
   ----------- ---------------------------- 0.4/1.5 MB 655.4 kB/s eta 0:00:02
   ----------- ---------------------------- 0.4/1.5 MB 626.0 kB/s eta 0:00:02
   ------------ --------------------------- 0.5/1.5 MB 641.7 kB/s eta 0:00:02
   ------------- -------------------------- 0.5/1.5 MB 641.7 kB/s eta 0:00:02
   ------------- -------------------------- 0.5/1.5 MB 630.5 kB/s eta 0:00:02
   -------------- ------------------------- 0.5/1.5 MB 596.8 kB/s eta 0:00:02
   -------------- ------------------------- 0.6/1.5 MB 599.7 kB/s eta 0:00:02
   --------------- ------------------------ 0.6/1.5 MB 601.7 kB/s eta 0:00:02
   ---------------- ----------------------- 0.6/1.5 MB 614.8 kB/s eta 0:00:02
   ------------------ --------------------- 0.7/1.5 MB 636.4 kB/s eta 0:00:02
   ------------------- -------------------- 0.7/1.5 MB 646.3 kB/s eta 0:00:02
   ------------------- -------------------- 0.7/1.5 MB 646.2 kB/s eta 0:00:02
   --------------------- ------------------ 0.8/1.5 MB 655.4 kB/s eta 0:00:02
   ---------------------- ----------------- 0.8/1.5 MB 671.7 kB/s eta 0:00:01
   ----------------------- ---------------- 0.9/1.5 MB 671.1 kB/s eta 0:00:01
   ----------------------- ---------------- 0.9/1.5 MB 655.2 kB/s eta 0:00:01
   ------------------------ --------------- 0.9/1.5 MB 647.8 kB/s eta 0:00:01
   ------------------------ --------------- 0.9/1.5 MB 641.3 kB/s eta 0:00:01
   ------------------------- -------------- 1.0/1.5 MB 634.9 kB/s eta 0:00:01
   ------------------------- -------------- 1.0/1.5 MB 628.7 kB/s eta 0:00:01
   -------------------------- ------------- 1.0/1.5 MB 629.6 kB/s eta 0:00:01
   -------------------------- ------------- 1.0/1.5 MB 629.6 kB/s eta 0:00:01
   ---------------------------- ----------- 1.1/1.5 MB 625.3 kB/s eta 0:00:01
   ----------------------------- ---------- 1.1/1.5 MB 626.0 kB/s eta 0:00:01
   ----------------------------- ---------- 1.1/1.5 MB 626.7 kB/s eta 0:00:01
   ------------------------------- -------- 1.2/1.5 MB 638.6 kB/s eta 0:00:01
   ------------------------------- -------- 1.2/1.5 MB 628.1 kB/s eta 0:00:01
   ------------------------------- -------- 1.2/1.5 MB 628.1 kB/s eta 0:00:01
   -------------------------------- ------- 1.2/1.5 MB 628.7 kB/s eta 0:00:01
   -------------------------------- ------- 1.2/1.5 MB 628.7 kB/s eta 0:00:01
   -------------------------------- ------- 1.2/1.5 MB 628.7 kB/s eta 0:00:01
   ----------------------------------- ---- 1.3/1.5 MB 635.7 kB/s eta 0:00:01
   ----------------------------------- ---- 1.3/1.5 MB 635.7 kB/s eta 0:00:01
   ------------------------------------ --- 1.4/1.5 MB 622.7 kB/s eta 0:00:01
   ------------------------------------ --- 1.4/1.5 MB 622.7 kB/s eta 0:00:01
   ------------------------------------ --- 1.4/1.5 MB 597.4 kB/s eta 0:00:01
   ------------------------------------- -- 1.4/1.5 MB 607.0 kB/s eta 0:00:01
   ------------------------------------- -- 1.4/1.5 MB 603.4 kB/s eta 0:00:01
   -------------------------------------- - 1.5/1.5 MB 596.1 kB/s eta 0:00:01
   -------------------------------------- - 1.5/1.5 MB 596.7 kB/s eta 0:00:01
   -------------------------------------- - 1.5/1.5 MB 596.7 kB/s eta 0:00:01
   -------------------------------------- - 1.5/1.5 MB 596.7 kB/s eta 0:00:01
   -------------------------------------- - 1.5/1.5 MB 596.7 kB/s eta 0:00:01
   -------------------------------------- - 1.5/1.5 MB 596.7 kB/s eta 0:00:01
   -------------------------------------- - 1.5/1.5 MB 596.7 kB/s eta 0:00:01
   ---------------------------------------  1.5/1.5 MB 546.8 kB/s eta 0:00:01
   ---------------------------------------  1.5/1.5 MB 546.8 kB/s eta 0:00:01
   ---------------------------------------- 1.5/1.5 MB 530.6 kB/s eta 0:00:00
Downloading regex-2024.5.15-cp310-cp310-win_amd64.whl (268 kB)
   ---------------------------------------- 0.0/269.0 kB ? eta -:--:--
   - -------------------------------------- 10.2/269.0 kB ? eta -:--:--
   ----- --------------------------------- 41.0/269.0 kB 495.5 kB/s eta 0:00:01
   ----------- --------------------------- 81.9/269.0 kB 657.6 kB/s eta 0:00:01
   -------------------- ----------------- 143.4/269.0 kB 853.3 kB/s eta 0:00:01
   ---------------------------- --------- 204.8/269.0 kB 958.4 kB/s eta 0:00:01
   ---------------------------------- --- 245.8/269.0 kB 942.1 kB/s eta 0:00:01
   -------------------------------------  266.2/269.0 kB 966.0 kB/s eta 0:00:01
   -------------------------------------- 269.0/269.0 kB 752.1 kB/s eta 0:00:00
Installing collected packages: regex, nltk
Successfully installed nltk-3.8.1 regex-2024.5.15

In [ ]:
import nltk
from nltk.tokenize import word_tokenize

# Download necessary NLTK data
nltk.download('punkt')

# Function to tokenize text
def tokenize_text(text):

    tokens = word_tokenize(text)
    # Join tokens back to string with spaces in between
    return ' '.join(tokens)

train_df['article'] = train_df['article'].apply(tokenize_text)
train_df['highlights'] = train_df['highlights'].apply(tokenize_text)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\sivaa\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.